{{ define "main" }}
<h1 class="page-title">All tags</h1>

{{ $data := .Data }}
<div class="tag-cloud">
  <ul class="tags">
    {{ range $key, $value := .Data.Terms.ByCount }}
    <li><a href="{{ $value.Name | urlize }}/">{{ $value.Name }}</a></li>
    {{ end }}
  </ul>
</div>
{{ end }}
