@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-font-family-0.83/UbuntuMono-R.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-font-family-0.83/Ubuntu-R.ttf") format('truetype');
}
