/* Markdown */
:root{
--maincolor: #ED315D;
--bgcolor: #FEE080;
--fontcolor: #153751;
--accentcolor01: #46C2A4;
--accentcolor02: #FF661F;

--hovercolor: var(--accentcolor01);
--bordercl: var(--fontcolor);
}

html {
  color: var(--fontcolor);
  background-color: var(--bgcolor);
  font-family: 'Ubuntu Mono', monospace;
  font-size: large;
  line-height: 1.3em;
}

body{
  display: block;
  margin: 8px;
}

p {
  font-family: 'Ubuntu', sans-serif;
}

hr {
  border: 0;
  border-top: 3px dotted var(--bordercl);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: var(--accentcolor);
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px solid var(--maincolor);
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: var(--hovercolor);
}

ul {
  list-style: none;
  padding-left: 2ch;
}

ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  border-radius: 2ch 0ch;
  border-style: solid;
  border-color: var(--fontcolor);
  border-width: 0.3ch;
  box-sizing: border-box;
}

/* Code blocks */
code {
  background-color: var(--accentcolor02);
  padding: .1em .2em;
  font-size: 1.1em;
  border-radius: 0.75ch 0ch;
}

pre {
  background-color: var(--fontcolor) !important;
  overflow-x: auto;
  padding: 1em;
  border-radius: 2ch 0ch;
  scrollbar-color: var(--accentcolor02) var(--bgcolor);
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: var(--bgcolor);
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 75ch;
  padding: 0 9ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

header .main {
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before 
{
  color: var(--maincolor);
  display: inline-block;
  margin-left: -1ch;
  width: 1ch;
  white-space: pre;
  direction: rtl;
}
h1::before { content: ' # '; }
h2::before { content: ' ## '; }
h3::before { content: ' ### '; }
h4::before { content: ' #### '; }
h5::before { content: ' ##### '; }
h6::before { content: ' ###### '; }

.meta, time {
  padding: 0em 1.25em;
  font-size: 0.75em;
}

/* Footer */
footer {
  display: flex;
  align-items: start;
  border-top: 0.65ch dotted var(--fontcolor);
  padding: 1em 0rem;
  margin-top: 4rem;
}

.soc {
  display: flex;
  align-items: center;
}

.soc img
{
  filter: invert(17%) sepia(63%) saturate(589%) hue-rotate(162deg) brightness(91%) contrast(93%);
  border-radius: 0;
  border-style: none;
  max-width: none;
}

.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}

.footer-info {
  margin-left: auto;
  text-align: right;
  font-size: 0.75em;
}

.footer-soc {
  display: flex;
  height: 1.3em;
}

.title {
  margin-bottom: 0.25em;
}

/* Callout */
.callout {
  background-color: var(--accentcolor01);
  padding: 1em;
  border-radius: 2ch 0ch;
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--accentcolor01);
}

.site-description {
display: flex;
justify-content: space-between;
}
.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid var(--maincolor); 
}
.tags a:hover{
  background-color: var(--hovercolor); 
}
svg{
  max-height: 16px;
}
.soc:hover{
  color: white;
}
.draft-label{ 
    color: var(--bordercl);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  border-radius: 0 0 0.25rem 0.25rem;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

@media screen and (max-width: 600px) {
  .content {
    padding: 0 1ch;
  }

  h1::before, h2::before, h3::before, h4::before, h5::before, h6::before 
  {
    display: block;
    direction: ltr;
  }
}
