<footer>
  <div class="footer-soc">
    {{ range $index, $key := .Site.Params.social }}

      {{ if ne $index 0 }}
    <a class="border"></a>
      {{ end }}

      {{ if os.FileExists (printf "static/icons/%s.svg" $key.icon) }}
    <a rel="me" class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><img height="16" width="16"  src="/icons/{{ $key.icon}}.svg"></img></a>
      {{ else }}
    <a rel="me" class="soc" href="{{ $key.url }}" title="{{ $key.name }}"><img height="16" width="16"  src="https://cdn.jsdelivr.net/npm/simple-icons@v7/icons/{{ $key.icon }}.svg"></img></a>
      {{ end }}

    {{ end }}
  </div>

  <div class="footer-info">
	  <div>{{ time.Format "2006" now }} {{ with .Site.Copyright }} {{ . }}</div>
	  <div>{{ end }} <a href="https://codeberg.org/muro/WebsiteHerbigHugoTheme">WebsiteHerbigHugoTheme</a></div>
	  <div>Built with <a href="https://gohugo.io">Hugo</a></div>
  </div>
</footer>

