<header>
	<div class="main">
		<a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
	</div>
	<nav>
		{{ range .Site.Menus.main }}
		<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
		{{ end }}

		{{ if .IsTranslated }}
			{{ range .Translations }}
			<a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
			{{ end }}
		{{ end}}
	</nav>
</header>
