<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{ $title := ( .Title ) }}
	{{ $siteTitle := ( .Site.Title ) }}

	{{ if .IsHome }}
	<title>{{ $siteTitle }} | Home </title>
	{{ else }}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{ end }}

	{{ if isset .Site.Params "favicon" }}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

	{{ $style := resources.Get "css/main.css" }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $style.Permalink }}" />
	{{ $font := resources.Get "css/font.css" }}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ $font.Permalink }}" /> 

	{{ if .IsTranslated }}
	{{ range .AllTranslations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
	{{ end }}
</head>
